body {
    background-color: #f0f2f5;
    width: 70vw;
    height: 100vh;
    display: block;
    padding: 72px 160px;
    align-items: center;
    justify-content: center;
}

.container-left {
    width: 30vw;
    height: 40vh;
}

.container-right {
    width: 30vw;
    height: 40vh;
}

.first-paragraph {
    font-size: 28px;
    color: #1c1e21;
}

.inputfield {
    padding: 14px 16px;
    width: 330px;
    height: 22px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    border-radius: 6px;
    margin-bottom: 16px;
}

.login-button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    color: white;
}
